<!--DONE BY LOW XUAN JIE-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Condominium Shuttlebus Timing </title>
         <link rel="stylesheet" href="{{ url_for("static", filename="CSS/bustiminglist.css")}}">
    </head>
    <body>

  <div class="topnav" id="myTopnav">
        <a href="/home"><img src="/static/Images/icon.png" style="width:30px; height:30px;"></a>
        <a href="/timingbus_viewer" >Bus Arrival Timing</a>

    <div class="dropdown">
        <button class="dropbtn">Shuttle Bus
            <i class="fa fa-caret-down"></i>
        </button>
    <div class="dropdown-content">
      <a href="/timingcondo_viewer">Condominium</a>
      <a href="/timinghospital_viewer" >Hospital</a>
      <a href="/timingmall_viewer">Shopping Centre</a>
    </div>

  </div>

  <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
</div>

{#    {% from "team2gui/_formhelper.html" import render_field %}#}
{##}
{#        <div>#}
{#                <h1>Hello, <span>{{ session_userid }}</span></h1>#}
{#                {% if count == 0 %}#}
{#                    <p>You have no timingbus.</p>#}
{#                {% else %}#}
{#                    <p>You have <span>{{ count }}</span> timingbus(s).</p>#}
{#                {% endif %}#}
{#        </div>#}

            <div>
                <h2>Condominium Shuttlebus Arrival Timing</h2>
                <h4>Shuttlebus from nearest Mrt station to </h4>
                    <h2 align="center">Condominium: {{ condo }}</h2>
                    <table width="50%" border="2" cellspacing="1" align="center">
                      <thead>
                        <tr>
                            <th>From Condominium</th>
                            <th>To Condominium</th>
{#                            <th>Condominium </th>#}
                        </tr>
                      </thead>
                      <tbody>
                        {% for timingcondo in timingcondos %}
                            <tr>
                                <td>{{ timingcondo.get_fromcondo()}}</td>
                                <td>{{ timingcondo.get_tocondo()}}</td>
{#                                <td>{{ timingcondo.get_condo()}}</td>#}
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                <br>
            </div>
            <br>

    </body>
</html>
