<!--DONE BY LOW XUAN JIE -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Bus Arrival Timing </title>
         <link rel="stylesheet" href="{{ url_for("static", filename="CSS/bustiminglist.css")}}">
    </head>
    <body>

  <div class="topnav" id="myTopnav">
        <a href="/home"><img src="/static/Images/icon.png" style="width:30px; height:30px;"></a>
        <a href="/timingbus_create" >Bus Arrival Timing</a>

    <div class="dropdown">
        <button class="dropbtn">Shuttle Bus
            <i class="fa fa-caret-down"></i>
        </button>
    <div class="dropdown-content">
      <a href="/timingcondo_create">condominium</a>
      <a href="/timinghospital_create" >ADMIN^Hospital</a>
      <a href="/timingmall_create">Shopping centre</a>
    </div>
    </div>
      <div class="dropdown">
        <button class="dropbtn">Listing
            <i class="fa fa-caret-down"></i>
        </button>
    <div class="dropdown-content">
      <a href="/timingbus_retrieve" >ADMIN^ Bus Listing</a>
         <a href="/timingcondo_retrieve" >ADMIN^Condo Listing</a>
      <a href="/timinghospital_retrieve"  >ADMIN^Hospital Listing</a>
      <a href="/timingmall_retrieve" class="active">ADMIN^Shopping centre</a>
    </div>
  </div>
  </div>


{#    {% from "team2gui/_formhelper.html" import render_field %}#}
{##}
{#        <div>#}
{#                <h1>Hello, <span>{{ session_userid }}</span></h1>#}
{#                {% if count == 0 %}#}
{#                    <p>You have no timingbus.</p>#}
{#                {% else %}#}
{#                    <p>You have <span>{{ count }}</span> timingbus(s).</p>#}
{#                {% endif %}#}
{#        </div>#}

            <div>
                <h2>Shopping Centre Shuttlebus Arrival Timing</h2>
                    <table width="50%" border="2" cellspacing="1" align="center">
                      <thead>
                        <tr>
                            <th>To Shopping Centre</th>
                            <th>From Shopping Centre</th>
                            <th>Shopping Centre </th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for timingmall in timingmalls %}
                            <tr>
                                <td>{{ timingmall.get_tomall()}}</td>
                                <td>{{ timingmall.get_frommall()}}</td>
                                <td>{{ timingmall.get_mall()}}</td>
                                <td><a href="/mall_delete/{{ timingmall.get_timingmallid()}}">delete</a></td>
                            </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                <br>
            </div>
            <br>
          <a href="/">Home</a>
    </body>
</html>
