<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>MRT Arrival Timings</title>
        <link rel="stylesheet" href="{{ url_for('static', filename = 'CSS/Mrt1.css') }}">
    </head>
    <body>
    {% from "team2gui/_formhelper.html" import render_field %}

        <div class="topnav" id="myTopnav">
            <a href="/home"><img src="static/Images/icon.png" alt="company logo" width="113" height="28"></a>
                            <div class="dropdown">
                    <button class="dropbtn" id="active">MRT Arrival Timing
                        <i class="fa fa-caret-down" ></i>
                    </button>

                <div class="dropdown-content">
                    <a href="/timing_create" >Check the timing</a>
                    <a href="/timing_retrieve" >Display arrival timing</a>
                </div>
                </div>
            <a href="/MRT_exit">Exit Points</a>

            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <script>
        function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
        x.className += " responsive";
        } else {
            x.className = "topnav";
            }
        }
        </script>

        <form action="/timing_create" method = "post">
            <div id = "container1" style="....">
                <h2>MRT Arrival Timings</h2>
                <img src="static/Images/mrt.png" alt="mrt" width="300" height="200"></a>
            </div>

            <div id = "container1">
                <div class = "form-group">
                    <p><b>Location:</b></p>
                    {{ render_field(form.location) }}
                        <br><br>
                    <p><b>Destination:</b></p>
                        {{ render_field(form.destination) }}
                    <p><b>Choose your timing:</b></p>
                        {{ render_field(form.time) }}
                    <p><br>
                        <button type="submit" style="background-color: black; color: white; padding: 14px 20px; margin: 8px 0; border: none; border-radius: 4px; cursor: pointer;">Create MRT Timing</button>
                    </p>
                </div>
            </div>
          <a href="/">Home</a>
        </form>
    </body>
</html>
