<!--DONE BY LIM RU MEI -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>update user profile</title>
    </head>
    <body>
    {% from "team2gui/_formhelper.html" import render_field %}

        <div>
                <h1>Hello, <span>{{ session_userid }}</span></h1>
                <h1>UID <span>{{ uid }}</span></h1>

                 <h1>need your coding here!!</h1>
        </div>

          <div>
                <h2>update user profile</h2>
                <h2>update user status</h2>
          </div>
          <br>
          <a href="/">Home</a>
    </body>
</html>
